<header class="header header-sticky">
    <div class="wrapper">
        <div class="logo">
            <h1>Logo</h1>
        </div>



        <div class="menus">
            <ul id="navigation">
                <li><a [routerLink]="['auth/login']">Login/SignUp</a></li>
                <li><a [routerLink]="['content']">Content</a></li>
                <li><a [routerLink]="['category']">Category</a></li>
                <li><a [routerLink]="['profile']">Profile</a></li>
            </ul>
        </div>
    </div>
</header>